@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Preahvihear&display=swap");
* {
  margin: 0;
  padding: 0;
}

main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
}

main .contentBlock {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
main .contentBlock .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 3rem;
}

main .contentBlock .navbar .navLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

main .contentBlock .navbar .title {
  color: #000;
  font-family: Preahvihear;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 120% */
  letter-spacing: 1.4px;
}
