.tooltip-container {
  background: black;
  /* background: linear-gradient(138deg, rgb(0, 0, 0) 15%, rgb(0, 31, 46) 65%); */
  position: relative;
  cursor: pointer;
  font-size: 17px;
  padding: 0.7em 0.7em;
  border-radius: 50px;
  height: 2rem;
  width: 2rem;
  color: white;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  grid-area: click;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.tooltip-container::before {
  content: "";
  height: 10rem;
  width: 10rem;
  position: absolute;
  display: none;
}
.tooltip-container:hover::before {
  display: block;
}
.tooltip-container:hover {
  background: #242424;
  transition: all 0.9s;
}

.tooltip-container .text {
  fill: #fff;
  transition: all 0.2s;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: poppins;
  transition: all 0.2s;
}
.tooltip-container:hover .text {
  fill: rgb(0, 0, 0);
  transition: all 0.9s;
}

/* Inicio do tooltip twitter */
.tooltip1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  background: #dfaeff;
  fill: #dfaeff;
  padding: 10px;
  border-radius: 50px;
  transition: opacity 0.3s, visibility 0.3s, top 0.3s, background 0.3s;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tooltip-container:hover .tooltip1 {
  top: -50%;
  opacity: 1;
  visibility: visible;
  /* background: #dfaeff; */
  border-radius: 50px;
  transform: translate(-50%, -5px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.tooltip-container:hover .tooltip1:hover {
  background: #e7c3ff;
  fill: #fff;
}
/* Fim do tooltip twitter */

/* Inicio do tooltip facebook */
.tooltip2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  background: #B9CEFB;
  fill: #001722;
  padding: 10px;
  border-radius: 50px;
  transition: opacity 0.3s, visibility 0.3s, top 0.3s, background 0.3s;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tooltip-container:hover .tooltip2 {
  top: 15%;
  opacity: 1;
  visibility: visible;
  transform: translate(170%, -5px);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip-container:hover .tooltip2:hover {
  background: #c7d9ff;
  fill: #fff;
}
/* Fim do tooltip facebook */

/* Inicio do tooltip whatsApp */
.tooltip3 {
  position: absolute;
  left: 60%;
  transform: translateX(80%);
  opacity: 0;
  visibility: hidden;
  background: #CAFDE0;
  fill: #001722;
  padding: 10px;
  border-radius: 50px;
  transition: opacity 0.3s, visibility 0.3s, top 0.3s, background 0.3s;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tooltip-container:hover .tooltip3 {
  top: 100%;
  opacity: 1;
  visibility: visible;
  transform: translate(90%, -5px);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tooltip-container:hover .tooltip3:hover {
  background: #dbffea;
  fill: #000000;
}
/* Fim do tooltip whatsApp */

/* Inicio do tooltip Discord */
.tooltip4 {
  position: absolute;
  left: 9%;
  transform: translateX(80%);
  opacity: 0;
  visibility: hidden;
  background: #FFB8EA;
  fill: #001722;
  padding: 10px;
  border-radius: 50px;
  transition: opacity 0.3s, visibility 0.3s, top 0.3s, background 0.3s;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tooltip-container:hover .tooltip4 {
  top: 100%;
  opacity: 1;
  visibility: visible;
  transform: translate(-90%, -5px);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tooltip-container:hover .tooltip4:hover {
  background: #ffcaef;
  fill: #fff;
}
/* Fim do tooltip Discord */

/* Inicio do tooltip pinterest */
.tooltip5 {
  position: absolute;
  left: 15%;
  transform: translateX(70%);
  opacity: 0;
  visibility: hidden;
  background: #FFEDB4;
  fill: #001722;
  padding: 10px;
  border-radius: 50px;
  transition: opacity 0.3s, visibility 0.3s, top 0.3s, background 0.3s;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tooltip-container:hover .tooltip5 {
  top: 15%;
  opacity: 1;
  visibility: visible;
  transform: translate(-170%, -5px);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tooltip-container:hover .tooltip5:hover {
  background: #fff4d2;
  fill: #fff;
}
/* Fim do tooltip pinterest */
