.sidebar {
  width: 8%;
  height: 100%;
  background-color: white;
  padding: 2rem;
  display: grid;
  grid-template-areas:
    "title"
    "click"
    "Sign";
  justify-content: center;
}

.sidebar .title {
  grid-area: title;
  color: #000;
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.66px;
}

/* From Uiverse.io by vinodjangid07 */
.sidebar .click {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: click;
  gap: 1rem;
}

.sidebar .Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: black;
}

/* plus sign */
.sidebar .Btn .sign {
  width: 100%;
  font-size: 2em;
  color: white;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* text */
.sidebar .Btn .text {
  position: absolute;
  right: -14%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  transition-duration: 0.3s;
}
/* hover effect on .login width */
.sidebar .Btn:hover {
  width: 125px;
  border-radius: 0px;
  transition-duration: 0.3s;
}

.sidebar .Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
/* hover effect .login's text */
.sidebar .Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 20px;
}
/* .login click effect*/
.sidebar .Btn:active {
  transform: translate(2px, 2px);
}

.sidebar .colors {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  grid-area: Sign;
}
/* From Uiverse.io by KINGFRESS */
.login {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #171717;
  padding: 1em 2em;
  border: none;
  border-radius: 0.6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  height: fit-content;
  width: 90%;
}

.login span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #0c66ed;
  border-radius: 50%;
  transition: 0.6s ease;
}

.login span:nth-child(6) {
  position: relative;
}

.login span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

.login span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

.login span:nth-child(3) {
  transform: translate(-0.2em, 1.8em);
}

.login span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

.login span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

.login:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}
