.sidebar {
  width: 8%;
  height: 100%;
  background-color: white;
  padding: 2rem;
  display: grid;
  grid-template-areas:
    "title"
    "click"
    "Sign";
  justify-content: center;
}

.sidebar .title {
  grid-area: title;
  color: #000;
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.66px;
}


.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  grid-area: Sign;
}
/* From Uiverse.io by KINGFRESS */
.login {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #171717;
  padding: 1em 2em;
  border: none;
  border-radius: 0.6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  height: fit-content;
  width: 90%;
}

.login span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #0c66ed;
  border-radius: 50%;
  transition: 0.6s ease;
}

.login span:nth-child(6) {
  position: relative;
}

.login span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

.login span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

.login span:nth-child(3) {
  transform: translate(-0.2em, 1.8em);
}

.login span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

.login span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

.login:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}
